/bld
/cfg
/setup_t
/setup.sh
/Makefile
/minivmac
/minivmac.app
/minivmac.xcodeproj
/maxivmac.app
/build
/*.exe
/*.ROM
remove*
CMakeUserPresets.json
.DS_Store
disk.hfs
reference/
tmp/
out/
mf2.hfs
608.hfs
test/.608_verify.hfs
imgui.ini
coverage/
coverage.html
*.profraw
*.profdata
753.hfs
macdocs/ref/mac-rom
shared/
dbglog.txt
